@{
    ViewBag.Title = "Contacts";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Yolande DESPINASSE<br />
    Frederic ORIAS<br />
    Julien GORNET<br />
    <br />
    120 Rue Masséna, 69006 Lyon<br />
    <abbr title="Téléphone">Tel:</abbr>
    04 78 52 25 15
</address>

<address>
    <strong>Supports:</strong>   <a href="mailto:yolande.despinasse@gmail.com">yolande.despinasse@gmail.com</a><br />
    <strong>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</strong> <a href="mailto:frederic.orias@gmail.com">frederic.orias@gmail.com</a><br />
    <strong>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</strong> <a href="mailto:julien.gornet@gmail.com">julien.gornet@gmail.com</a>
</address>