@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron">
    <br /> <BR> <br /> <BR> 
    <h1>DES'ARB</h1>
    <p class="lead" style="color: black; font-weight:bold" >DES'ARB est un assistant de désignation qui va vous simplifier la vie.<br /> <BR>  Vous avez des matchs de différentes divisions et des arbitres a attribuer à chacun de ces matchs pour toute une une saison.<br /> <BR>  Plus de panique, DES'ARB est fait pour vous! un clique et le tour est joué!
</div>

