
body {
 
    background-size: cover;
}

.bouton {
    border: none;
    padding: 6px 0 6px 0;
    border-radius: 75%;
    border-bottom: 7px solid #4753f3;
    font: bold 12px Arial;
    color: #555;
    background: #fff;
    box-shadow: 2px 2px 3px #999;
    border-top: 3px solid #e81010;
}

caption {
color:black;
font-size:30px;
font-style:normal;
}
th,td{
text-align: center;
border: 2px solid;
border-color:black;
margin:25%;
}


table{
border-collapse:collapse;
background-color:white;
}
#tableSelection
{
    float:left;
    margin-top:2%;
}

#fieldSelection
{
     background-color:white;
  max-width:350px;
  padding:16px;	
}


#tableau,#tableauDiv
{
    float:right;
    margin-right:2%;
    margin-top:1%;
}